.page-login {
    width: 100%;
}

.page-login .page-content {
    position: relative;
    margin: auto;

    width: 70%;
    height: 90vh;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-login .content-section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-login .content-section-or {
    position: relative;
    
    width: 80px;
    height: 1px;
    
    border-bottom: 1px solid #8E8E9F;
}

.page-login .content-section-or > div {
    position: absolute;
    
    width: 100%;
    left: 0;
    
    text-align: center;
    
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-login .content-section-or span {
    padding: 6px;
    
    font-family: sans-serif;
    font-size: 12px;
    
    color: #8E8E9F;
    background-color: white;
}

.page-login .content-section-manual {
    width: 230px;
}

.page-login .content-section-manual form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-login .content-section-manual form input {
    margin-bottom: 10px;
}

.page-login .content-section-manual form input:last-child {
    margin-top: 10px;
    margin-bottom: 0px;
}

.page-login .content-section-manual form input[type=text], input[type=password] {
    width: calc(100% - 10px);
    height: 30px;
    
    font-size: 15px;
    
    color: #8E8E9F;
    
    padding-left: 5px;
    padding-right: 5px;
    
    border: 1px solid #D9D9E0;
    border-radius: 3px;
    
    background-color: white;
}

.page-login .content-section-manual form input[type=text][value=''], input[type=password][value=''] {
    background-color: #F0F0F2;
}

.page-login .content-section-manual form input[type=submit] {
    padding: 5px 10px 5px 10px;
    
    color: white;
    
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    
    text-transform: uppercase;
    
    background-color: #4481EB;
    
    border: 1px solid #3667BC;
    border-radius: 3px;
}

.page-login .content-section-manual form input[type=submit]:hover {
    background-color: #3667bc;
    cursor: pointer;
}