.component-navigation {
    height: 40px;
    width: 100%;

    /* Gradient */
    background-color: #4481eb;

    background: rgb(68,129,235);
    background: -webkit-gradient(linear, left top, right top, from(rgba(68,129,235,1)), to(rgba(4,190,254,1)));
    background: linear-gradient(90deg, rgba(68,129,235,1) 0%, rgba(4,190,254,1) 100%);
}

.component-navigation .navigation-section {
    height: 100%;

    /* Page margins */
    margin: 0px 10px 0px 10px;
}

/* Left Segment
********************/

.component-navigation .navigation-section.navigation-section-left {
    float: left;
}

.component-navigation .navigation-section-left a {
    display: block;
    height: 100%;

    /* Flex setup for image */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.component-navigation .navigation-section-left img {
    max-height: 60%;
}

/* Right Segment
********************/

.component-navigation .navigation-section.navigation-section-right {
    float: right;

    /* List cleanup */
    list-style-type: none;
}

.component-navigation .navigation-section-right .navigation-section-segment {
    height: 100%;
    margin: 0px 8px 0px 8px;

    display: inline-block;
}

.component-navigation .navigation-section-right a {
    position: relative;

    display: block;
    height: 100%;

    /* Font styling */
    color: white;

    font-weight: bolder;
    font-family: sans-serif;

    text-transform: uppercase;
    text-decoration: none;

    /* Flex setup to center label */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.component-navigation .navigation-section-right a::before {
    /* Set up hover underlines */
    content: '';

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: white;

    opacity: 0;

    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.component-navigation .navigation-section-right a:hover::before {
    opacity: 1;
}